In [1]:
import pandas as pd

In [6]:
demo= pd.read_csv('C:/Users/clair/Desktop/Flex 4/Python/World Indicators.csv')
demo.head()

,Country,Year,Births attended by skilled health staff (% of total),Current health expenditure (% of GDP),Current health expenditure per capita (current US$),Female genital mutilation prevalence (%),GDP (current US$),"Hospital beds (per 1,000 people)","Life expectancy at birth, female (years)","Life expectancy at birth, male (years)",Lifetime risk of maternal death (%),"Nurses and midwives (per 1,000 people)",Proportion of women subjected to physical and/or sexual violence in the last 12 months (% of women age 15-49),Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant),Women who were first married by age 15 (% of women ages 20-24),Fistula country
0,Afghanistan,1960,NaN,NaN,NaN,NaN,5.377778e+08,0.170627,33.133,31.580,NaN,NaN,NaN,NaN,NaN,1
1,Afghanistan,1961,NaN,NaN,NaN,NaN,5.488889e+08,NaN,33.586,32.026,NaN,NaN,NaN,NaN,NaN,1
2,Afghanistan,1962,NaN,NaN,NaN,NaN,5.466667e+08,NaN,34.030,32.466,NaN,NaN,NaN,NaN,NaN,1
3,Afghanistan,1963,NaN,NaN,NaN,NaN,7.511112e+08,NaN,34.469,32.903,NaN,NaN,NaN,NaN,NaN,1
4,Afghanistan,1964,NaN,NaN,NaN,NaN,8.000000e+08,NaN,34.904,33.338,NaN,NaN,NaN,NaN,NaN,1

In [9]:
demo.shape

(11792, 16)

In [13]:
demo.columns

Index(['Country', 'Year',
       'Births attended by skilled health staff (% of total)',
       'Current health expenditure (% of GDP)',
       'Current health expenditure per capita (current US$)',
       'Female genital mutilation prevalence (%)', 'GDP (current US$)',
       'Hospital beds (per 1,000 people)',
       'Life expectancy at birth, female (years)',
       'Life expectancy at birth, male (years)',
       'Lifetime risk of maternal death (%)',
       'Nurses and midwives (per 1,000 people)',
       'Proportion of women subjected to physical and/or sexual violence in the last 12 months (% of women age 15-49)',
       'Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)',
       'Women who were first married by age 15 (% of women ages 20-24)',
       'Fistula country'],
      dtype='object')

In [15]:
demo.dtypes

Country                                                                                                           object
Year                                                                                                               int64
Births attended by skilled health staff (% of total)                                                             float64
Current health expenditure (% of GDP)                                                                            float64
Current health expenditure per capita (current US$)                                                              float64
Female genital mutilation prevalence (%)                                                                         float64
GDP (current US$)                                                                                                float64
Hospital beds (per 1,000 people)                                                                                 float64
Life expectancy at birth, female (years)                                                                         float64
Life expectancy at birth, male (years)                                                                           float64
Lifetime risk of maternal death (%)                                                                              float64
Nurses and midwives (per 1,000 people)                                                                           float64
Proportion of women subjected to physical and/or sexual violence in the last 12 months (% of women age 15-49)    float64
Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)                          float64
Women who were first married by age 15 (% of women ages 20-24)                                                   float64
Fistula country                                                                                                    int64
dtype: object

In [17]:
demo.describe()

,Year,Births attended by skilled health staff (% of total),Current health expenditure (% of GDP),Current health expenditure per capita (current US$),Female genital mutilation prevalence (%),GDP (current US$),"Hospital beds (per 1,000 people)","Life expectancy at birth, female (years)","Life expectancy at birth, male (years)",Lifetime risk of maternal death (%),"Nurses and midwives (per 1,000 people)",Proportion of women subjected to physical and/or sexual violence in the last 12 months (% of women age 15-49),Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant),Women who were first married by age 15 (% of women ages 20-24),Fistula country
count,11792.000000,2426.000000,2976.000000,2988.000000,86.000000,9.456000e+03,3431.000000,11125.000000,11125.000000,4758.000000,1469.000000,88.000000,333.000000,246.000000,11792.000000
mean,1989.018911,88.403825,6.275546,827.997763,50.848837,1.633221e+11,4.714701,66.230041,61.553810,1.316969,4.372035,15.990909,19.403544,9.346341,0.270353
std,16.690467,20.981483,2.851586,1489.608657,34.721025,8.635965e+11,3.593452,12.060117,10.912314,2.189691,4.053778,11.340474,10.613613,8.934243,0.444161
min,1960.000000,5.000000,0.838727,3.340352,0.600000,8.824448e+06,0.100000,22.394000,16.286000,0.004222,0.048000,2.000000,2.100000,0.000000,0.000000
25%,1975.000000,89.900000,4.360069,55.223409,19.500000,1.337231e+09,1.800000,57.546000,54.129000,0.037532,1.170000,7.000000,10.400000,2.925000,0.000000
50%,1989.000000,98.600000,5.786223,217.960722,44.500000,6.884718e+09,3.820000,69.500000,64.222000,0.234457,3.464000,11.850000,18.000000,6.750000,0.000000
75%,2004.000000,99.700000,7.913714,729.932308,88.025000,4.644555e+10,6.758300,75.537000,69.627000,1.758125,6.061000,23.300000,26.700000,12.375000,1.000000
max,2017.000000,100.000000,27.417822,10005.462047,98.600000,1.939060e+13,40.315456,87.300000,84.100000,16.477026,31.123000,46.100000,50.600000,50.300000,1.000000

In [8]:
indi= pd.read_excel('C:/Users/clair/Desktop/Flex 4/Python/DESI.xlsx')
indi.head()

   Year       Indicator      Country Country Code  Weighted Score
0  2018  1 Connectivity      Denmark           DK         19.6205
1  2018  1 Connectivity       Sweden           SE         18.9963
2  2018  1 Connectivity      Finland           FI         16.5132
3  2018  1 Connectivity  Netherlands           NL         20.2830
4  2018  1 Connectivity   Luxembourg           LU         20.0132

In [10]:
indi.shape

(725, 5)

In [14]:
indi.columns

Index(['Year', 'Indicator', 'Country', 'Country Code', 'Weighted Score'], dtype='object')

In [16]:
indi.dtypes

Year                int64
Indicator          object
Country            object
Country Code       object
Weighted Score    float64
dtype: object

In [18]:
indi.describe()

             Year  Weighted Score
count   725.00000      725.000000
mean   2016.00000        9.712147
std       1.41519        3.880509
min    2014.00000        2.871540
25%    2015.00000        6.776470
50%    2016.00000        8.828910
75%    2017.00000       12.349100
max    2018.00000       20.283000

In [28]:
joined_data= pd.merge(demo,indi,on='Country',how='left')
joined_data

,Country,Year_x,Births attended by skilled health staff (% of total),Current health expenditure (% of GDP),Current health expenditure per capita (current US$),Female genital mutilation prevalence (%),GDP (current US$),"Hospital beds (per 1,000 people)","Life expectancy at birth, female (years)","Life expectancy at birth, male (years)",Lifetime risk of maternal death (%),"Nurses and midwives (per 1,000 people)",Proportion of women subjected to physical and/or sexual violence in the last 12 months (% of women age 15-49),Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant),Women who were first married by age 15 (% of women ages 20-24),Fistula country,Year_y,Indicator,Country Code,Weighted Score
0,Afghanistan,1960,NaN,NaN,NaN,NaN,5.377778e+08,0.170627,33.133,31.580,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
1,Afghanistan,1961,NaN,NaN,NaN,NaN,5.488889e+08,NaN,33.586,32.026,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
2,Afghanistan,1962,NaN,NaN,NaN,NaN,5.466667e+08,NaN,34.030,32.466,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
3,Afghanistan,1963,NaN,NaN,NaN,NaN,7.511112e+08,NaN,34.469,32.903,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
4,Afghanistan,1964,NaN,NaN,NaN,NaN,8.000000e+08,NaN,34.904,33.338,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49371,Zimbabwe,2013,NaN,7.675996,68.784012,NaN,1.909102e+10,NaN,59.494,56.461,1.669140,1.257,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
49372,Zimbabwe,2014,80.0,8.886317,81.858892,NaN,1.949552e+10,NaN,60.911,57.657,1.786967,1.167,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
49373,Zimbabwe,2015,78.1,10.317198,94.290006,NaN,1.996312e+10,NaN,62.050,58.593,1.938964,NaN,19.9,21.6,3.7,1,NaN,NaN,NaN,NaN
49374,Zimbabwe,2016,NaN,NaN,NaN,NaN,2.054868e+10,NaN,62.898,59.274,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
49375,Zimbabwe,2017,NaN,NaN,NaN,NaN,2.204090e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN

In [31]:
joined_data.isnull().values.any()

True

In [35]:
new_joined_data=joined_data.fillna(joined_data.median())
new_joined_data

,Country,Year_x,Births attended by skilled health staff (% of total),Current health expenditure (% of GDP),Current health expenditure per capita (current US$),Female genital mutilation prevalence (%),GDP (current US$),"Hospital beds (per 1,000 people)","Life expectancy at birth, female (years)","Life expectancy at birth, male (years)",Lifetime risk of maternal death (%),"Nurses and midwives (per 1,000 people)",Proportion of women subjected to physical and/or sexual violence in the last 12 months (% of women age 15-49),Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant),Women who were first married by age 15 (% of women ages 20-24),Fistula country,Year_y,Indicator,Country Code,Weighted Score
0,Afghanistan,1960,99.6,7.758315,1516.479445,44.5,5.377778e+08,0.170627,33.133,31.580,0.017565,6.399,6.0,6.5,6.75,1,2016.0,NaN,NaN,8.93215
1,Afghanistan,1961,99.6,7.758315,1516.479445,44.5,5.488889e+08,6.400000,33.586,32.026,0.017565,6.399,6.0,6.5,6.75,1,2016.0,NaN,NaN,8.93215
2,Afghanistan,1962,99.6,7.758315,1516.479445,44.5,5.466667e+08,6.400000,34.030,32.466,0.017565,6.399,6.0,6.5,6.75,1,2016.0,NaN,NaN,8.93215
3,Afghanistan,1963,99.6,7.758315,1516.479445,44.5,7.511112e+08,6.400000,34.469,32.903,0.017565,6.399,6.0,6.5,6.75,1,2016.0,NaN,NaN,8.93215
4,Afghanistan,1964,99.6,7.758315,1516.479445,44.5,8.000000e+08,6.400000,34.904,33.338,0.017565,6.399,6.0,6.5,6.75,1,2016.0,NaN,NaN,8.93215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49371,Zimbabwe,2013,99.6,7.675996,68.784012,44.5,1.909102e+10,6.400000,59.494,56.461,1.669140,1.257,6.0,6.5,6.75,1,2016.0,NaN,NaN,8.93215
49372,Zimbabwe,2014,80.0,8.886317,81.858892,44.5,1.949552e+10,6.400000,60.911,57.657,1.786967,1.167,6.0,6.5,6.75,1,2016.0,NaN,NaN,8.93215
49373,Zimbabwe,2015,78.1,10.317198,94.290006,44.5,1.996312e+10,6.400000,62.050,58.593,1.938964,6.399,19.9,21.6,3.70,1,2016.0,NaN,NaN,8.93215
49374,Zimbabwe,2016,99.6,7.758315,1516.479445,44.5,2.054868e+10,6.400000,62.898,59.274,0.017565,6.399,6.0,6.5,6.75,1,2016.0,NaN,NaN,8.93215
49375,Zimbabwe,2017,99.6,7.758315,1516.479445,44.5,2.204090e+10,6.400000,76.000,69.200,0.017565,6.399,6.0,6.5,6.75,1,2016.0,NaN,NaN,8.93215